



#ignore build files
/build

#ignore the repository temp dir
/Repository
/Repository/*
../Repository/*
/Repository/gitleaksReport.json

#ignore 
UML_Diagrams/*.png



*.clang-format

.vscode/

UML_Diagrams/out build/
/build

#ignore dummy repos since they have .git's in them
/Tests/dummyRepos

todo.mk